# To stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true
# If set to true, generated setters will 'chain' by default (They will return this instead of having a void return type).
lombok.accessors.chain = true
# These config keys can make lombok affect source files even if they have 0 lombok annotations in them.
lombok.fieldDefaults.defaultPrivate = false
#lombok.fieldDefaults.defaultFinal = true
